<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5273cfe2-aa04-4737-a584-2a0d1765b773" name="TestSuite -DD_Testing" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="5273cfe2-aa04-4737-a584-2a0d1765b773fileName">TestSuite--DD_Testing</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>