<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="95a9b185-861e-4939-8ace-c7e411719cda" name="TestSuite -Assertion_JSON_Path" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="95a9b185-861e-4939-8ace-c7e411719cdafileName">TestSuite--Assertion_JSON_Path</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>